// * colori
$c-black: #000;
$c-gray: gray;
$c-white: #fff;
$c-purple: purple;
$c-blue: royalblue;
$c-lightgray: #eeeeee;
$c-darkgray: #3c3c3c;

// * padding
$p-10: 10px;
$p-20: 20px;
$p-30: 30px;
$p-40: 40px;
$p-50: 50px;
$p-60: 60px;
$p-100: 100px;

// * margini
$m-100: 100px;
$m-10: 10px;
$m-20: 20px;
$m-30: 30px;

// * altezze e larghezze
$h-100: 100px;
$h-600: 600px;
$h-350: 350px;
$calc-2: calc(100% / 2);