// * colori
$c-black: #000;
$c-gray: gray;
$c-white: #fff;
$c-purple: purple;

// * padding
$p-10: 10px;
$p-20: 20px;
$p-30: 30px;
$p-40: 40px;
$p-50: 50px;
$p-100: 100px;

// * margini
$m-100: 100px;
$m-10: 10px;
$m-20: 20px;

// * altezze e larghezze
$h-600: 600px;
$calc-2: calc(100% / 2);